


<!-- 
    
 -->
<div>
  <button class="button" (click)="gotoExpense()" type="button">FillExpense</button>
</div>


 
<input type="button" value="Download CSV" (click)="download()" color="red" style="float: right;">


<form [formGroup]="expenseForm">
  <div class="controls">
    <input type="date"  class="floatLabel" formControlName="startDate" placeholder="startDate">

   </div>

   <div class="controls">
     <input type="date"  class="floatLabel" formControlName="endDate" placeholder="endDate">

    </div>

<div align:centre>
   <div class="controls">
     <button class="button" (click)="onGetExpense()" type="button">Get Expense</button>
   </div>
   
  </div>

</form>


<div>
  <p>Total Expense for this month : {{amount}}</p>
</div>

<div>
  <mat-card *ngFor="let exp of obj2" (click)="getItemOfExpCat(exp.expcat)">
  <mat-card-header >
             
    <mat-card-subtitle >{{exp.expcat}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{exp.totalexpamount}}</p>
  
  </mat-card-content>
 
   
 
  <mat-divider></mat-divider>

</mat-card>
 <!--  <mat-grid-list cols="2" *ngFor="let exp of obj2">
      <mat-grid-tile ><mat-card >
          <mat-card-header>
             
            <mat-card-subtitle>{{exp.expcat}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{exp.totalexpamount}}</p>
          
          </mat-card-content>
         
           
         
          <mat-divider></mat-divider>
      
        </mat-card></mat-grid-tile>
      <mat-grid-tile> <button mat-button (click)="getItemOfExpCat(exp.expcat)">Expand</button></mat-grid-tile>
    </mat-grid-list> -->
  </div>
    







   